@import './reset.scss';
@import './theme.scss';

@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

$background: map-deep-get($theme, "backgroud");
$foreground: map-deep-get($theme, "foreground");
$active: map-deep-get($theme, "active");
$error: map-deep-get($theme, "error");
$attachment_1: map-deep-get($theme, "attachment_1");
$attachment_2: map-deep-get($theme, "attachment_2");
$attachment_3: map-deep-get($theme, "attachment_3");

html, body {
    height: 100%;
    font: 14px "Lucida Console", Monaco, monospace;
    color: $foreground;
    background-color: $background;
    margin: 0;
    overflow: hidden;
}

a {
    color: #00b7ff;
}

#stage {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: crosshair;    
}

.hidden {
    display: none;
}

#editor {
    flex-direction: row;
    display: flex;
    #tools {
        overflow-wrap: anywhere;
        flex-basis: 300px;
        border-right: 1px white solid;
        max-width: 300px;
        padding: 4px;
        p {
            margin-bottom: 4px;
        }
    }
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#game {
    flex-direction: row;
    display: flex;
    #control {
        max-width: 300px;
        min-width: 300px;
        border-right: 1px white solid;
        border-right-style: inset;
        #settings {     
            padding: 4px;
        }
        #score {
            padding: 4px;
        }
        #weapon-select {
            div {
                width: 140px;
                margin: 4px;
                border: 1px solid transparent;
                cursor: pointer;
                &:hover {
                    border-color: $foreground;
                }
                &.selected {
                    border-color: $active;
                    background-color: adjust-color($active, $alpha: -0.5);
                }
                img {
                    padding: 4px;
                    max-width: 140px;
                    max-height: 50px;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                }
            }        
        }
        #attachment-select {
            div {
                width: 40px;
                margin: 4px;
                border: 1px solid transparent;
                &:hover {
                    border-color: $foreground;
                }
                img {
                    padding: 4px;
                    width: 40px;
                    // height: 40px;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                }
                &.attachment-0 {
                    &.selected {
                        border-color: $active;
                    }
                }
                &.attachment-1 {
                    &.selected {
                        border-color: $active;
                        background-color: $attachment_1;
                    }
                    background-color: adjust-color($attachment_1, $alpha: -0.5);
                }
                &.attachment-2 {
                    &.selected {
                        border-color: $active;
                        background-color: $attachment_2;
                    }
                    background-color: adjust-color($attachment_2, $alpha: -0.5);
                }
                &.attachment-3 {
                    &.selected {
                        border-color: $active;
                        background-color: $attachment_3;
                    }
                    background-color: adjust-color($attachment_3, $alpha: -0.5);
                }
            }
        }
        #mag-select {
            div {
                width: 40px;
                margin: 4px;
                border: 1px solid transparent;
                &:hover {
                    border-color: $foreground;
                }
                img {
                    padding: 4px;
                    width: 40px;
                    height: 40px;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                }
                &.mag-0 {
                    &.selected {
                        border-color: $active;
                    }
                }
                &.mag-1 {
                    background-color: adjust-color($attachment_1, $alpha: -0.8);
                    &.selected {
                        border-color: $active;
                        background-color: $attachment_1;
                    }
                }
                &.mag-2 {
                    background-color: adjust-color($attachment_2, $alpha: -0.8);
                    &.selected {
                        border-color: $active;
                        background-color: $attachment_2;
                    }
                }
                &.mag-3 {
                    background-color: adjust-color($attachment_3, $alpha: -0.8);
                    &.selected {
                        border-color: $active;
                        background-color: $attachment_3;
                    }
                }
            }
        }
    }
}

input[type="text"] {
    width: 6ch;
    margin-right: 4px;
}