//-
//- Copyright 2021 Mikhail Goncharov
//-
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//-
//-      https://www.apache.org/licenses/LICENSE-2.0
//-
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.

extends layout
block content
  #editor
    #tools
      input(type="file" id="file-selector" multiple)
      p#filename
      p
        input(type='text' id='threshold')
        | threshold
      p
        input(type='checkbox' id='auto-targets')
        | auto targets
      p
        input(type='checkbox' id='enable-threshold')
        | enable threshold        
      p      
        input(type='text' id='weapon')
        | weapon
      p
        input(type='text' id='barrel')
        | barrel (0..3)
      p
        input(type='text' id='stock')
        | stock (0..3)
      p
        input(type='text' id='distance')
        | raw distance
      p comment
        textarea#comment(cols="30", rows="2")
      button#undo undo
      button#clear clear
      p#count
      #text
    #stage