extends layout
block content
  #editor
    #tools      
      input(type="file" id="file-selector" multiple)
      p#filename
      p
        input(type='text' id='sens')
        | in-game sens
      p
        input(type='text' id='weapon')
        | weapon
      p 
        input(type='text' id='barrel')
        | barrel (0..3)
      p
        input(type='text' id='stock')
        | stock (0..3)
      p
        input(type='text' id='dx')
        | dx
      p
        input(type='text' id='dy')
        | dy
      p comment        
        textarea#comment(cols="30", rows="2")
      button#undo undo
      p#count
      #text
    #stage