//-
//- Copyright 2021 Mikhail Goncharov
//-
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//-
//-      https://www.apache.org/licenses/LICENSE-2.0
//-
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.

extends layout

block content
  #game
    #control
      h1 Отдача оружия в Apex Legends
      p.description Практическое обучение
      p#sensitivity-warning.hidden
        | Активная зона слишком мала! Может быть расширить окно? #[a(href="https://github.com/metaflow/apex-recoil/blob/main/docs/faq.md#mouse-sensitivity" target="_blank") еще (англ.)] 
      #top-links
        p#show-instructions-btn.action
          | Инструкции
        a(href="https://github.com/metaflow/apex-recoil/blob/main/docs/faq.md" target="_blank")
          | FAQ (англ.)
      #score
        div#stats-graph-btn.tooltip.btn
          img(src="/outline_insert_chart_white_48dp.png" alt="show graph")
          .tooltiptext Статистика
        div#stats-wrap
          p#score-stats
      #weapon-select.grid
        div.havoc_tc.btn
          img(src="/images/havoc.png", alt="havoc")
          p.name HAVOC
        div.flatline.btn
          img(src="/images/flatline.png", alt="flatline")
          p.name Flatline
        div.r301.btn
          img(src="/images/r301.png", alt="r-301")
          p.name R-301
        div.alternator.btn
            img(src="/images/alternator.png", alt="alternator")
            p.name Alternator
        div.r99.btn
          img(src="/images/r99.png", alt="r-99")
          p.name R-99
        div.volt.btn
          img(src="/images/volt.png", alt="volt")
          p.name Volt
        div.devotion_tc.btn
          img(src="/images/devotion.png", alt="devotion")
          p.name Devotion
        div.lstar.btn
          img(src="/images/lstar.png", alt="lstar")
          p.name L-STAR
        div.spitfire.btn
          img(src="/images/spitfire.png", alt="spitfire")
          p.name Spitfire
        div.rampage.btn
          img(src="/images/rampage.png", alt="rampage")
          p.name Rampage
        div.re45.btn
          img(src="/images/re45.png", alt="re45")
          p.name RE-45
      #mag-select.button-row
        div.mag-0.tooltip
          img(src="/images/magi.png" alt="no magazine")
          span.tooltiptext Без магазина
        div.mag-1.tooltip
          img(src="/images/magi.png" alt="magazine level 1")
          span.tooltiptext Ур. 1
        div.mag-2.tooltip
          img(src="/images/magi.png" alt="magazine level 2")
          span.tooltiptext Ур. 2
        div.mag-3.tooltip
          img(src="/images/magi.png" alt="magazine level 3")
          span.tooltiptext Ур. 3
        div.mag-drop.hidden
          img(src="/images/magi.png" alt="drop magazine")
        div.mod-revved_up.mod.hidden.tooltip
          img(src="/images/thermite_grenade.png" alt="thermite grenade")
          span.tooltiptext Загрузить зажигательную гранату
      #settings
          #mouse-settings.row
            div
              input(type='text' id='sens')
              span.tooltip.underlined
                | Чувствительность
                span.tooltiptext
                  | Например: если чувствительность в игре 3 и ADS<br/>
                  | 1.2 впишите сюда 3 * 1.2 = 3.6
            #invert-y-btn.btn
              div Инверт. Y
          p Режим цели:
          #mode-selection.button-row
            #mode-fixed-path.btn.tooltip
              div Траектория
              span.tooltiptext Клавиша A
            #mode-fixed.btn.tooltip
              div Неподвижная
              span.tooltiptext Клавиша S
            #mode-moving.btn.tooltip
              div Движущаяся
              span.tooltiptext Клавиша D
          div.row
            .tooltip
              img(src="/outline_run_circle_white_24dp.png" alt="target control")
              span.tooltiptext
                | Скорость цели
            input.slider#target-speed(type='range' min="1" max="600" step="1")
            #target-speed-value.value
          #recoil-mode.button-row
            .center-text Отдача:
            #recoil-weapon.btn.tooltip
              div Оружия
              span.tooltiptext
                | Отдача применяется к курсору, цель неподвижна
            #recoil-target.btn.tooltip
              div Цели
              span.tooltiptext
                | Отдача применяется к цели, как в игре
          p Следы:
          .button-row
            #trace-0.btn
              div Вокруг мишени
            #trace-1.btn
              div Точки
            #trace-2.btn
              div Линии
          .row
            .tooltip
              img(src="/outline_slow_motion_video_white_24dp.png" alt="speed control").tooltip
              span.tooltiptext
                | Скорость стрельбы. Сделайте меньше, если не успеваете
            input.slider#speed(type='range' min="10" max="100" step="10")
            #speed-value.value
          #sound-control.row
            #toggle-mute.tooltip
              img(src="/volume_up_white_24dp.svg"  alt="sound is not muted")#unmuted
              img(src="/volume_off_white_24dp.svg" alt="sound is muted")#muted.hidden
              span.tooltiptext
                | Громкость звука (нажмите, чтобы выключить звук)
            input.slider#volume(type='range' min="0" max="100")
            .value
      #controls-bottom
        #copyright
          div.links
            a(href="https://github.com/metaflow/apex-recoil" target="_blank")
              img(src="/GitHub-Mark-Light-32px.png", alt="github")
            a(href="https://www.reddit.com/r/apexlegends/comments/mosk0l/i_have_created_an_app_to_practice_recoils/" target="_blank")
              img(src="/reddit.png", alt="reddit")
            a(href="/")
              img(src="/en.png", alt="english")
            div.vertical
              a(href="https://github.com/metaflow/apex-recoil/blob/main/docs/privacy-policy.md" target="_blank")
                | Privacy Policy
              a(href="https://github.com/metaflow/apex-recoil/blob/main/docs/privacy-policy-de.md" target="_blank")
                | Datenschutzerklärung
              a(href="#cookies")
                | Cookie settings
          p
            | 2021 by Mikhail equanimity_rulez Goncharov.
          p
            | This app is not affiliated with or sponsored by Electronic Arts Inc. or its licensors. 
            | Game content and materials are trademarks and copyrights of 
            | #[a(href="https://ea.com" target="_blank") Electronic Arts Inc.]              
            | or #[a(href="https://www.respawn.com/" target="_blank") Respawn Entertainment]. 
            | Some images and reference materials come from 
            | #[a(href="https://apexlegends.fandom.com/wiki/" target="_blank") Apex Legends Wiki].
        #version
          p
            | version 16&nbsp;
            a(href="https://github.com/metaflow/apex-recoil/blob/main/docs/release-notes.md" target="_blank")
              | what's new
    #workspace
      #detailed-stats.hidden
        div Ось Y логарифмическая поскольку разница между 40 и 50 очками меньше, чем между 80 и 90.
        #plotly_area
        div
          p.action#hide-stats Скрыть график
      #instructions.hidden
          h2 Инструкция
          p #[a(href="https://www.youtube.com/watch?v=tTPKHa4aXug") Видео объяснение (англ.)].
          ul
            li #[a(href="https://www.google.com/search?q=отключить+Повышение+точности+указателя+windows" target="_blank") Убедитесь, что настройка "повышение точности указателя" выключена].
            li Выставите #[i чувствительность].&nbsp;            
            li Выберите оружие и уровень магазина.
            li Нажмите в обведенной точками области внизу и попробуйте компенсировать отдачу. Чем лучше получается это делать, тем больше очков вы наберете (максимум 100).
          p При наведении на многие настройки и кнопки появится всплывающая подсказка.
          p
            a(href="https://github.com/metaflow/apex-recoil/blob/main/docs/faq.md#controller-support" target="_blank") Настройка для игры с контроллером (англ., экспериментально).
          p.action#dismiss-instructions Закрыть инструкцию
      #stage
  #mobile-info 
    h1 Apex Legends Recoil Patterns
    p Привет! Этот сайт позволят практиковать отдачу оружия в игре Apex Legends.
      | Размер экрана устройства должен быть больше чем 900 пикселей.
    br
    p Увидимся!
    img(src="/trail.png", alt="trail")
    #copyright-mobile
      p
        a(href="https://github.com/metaflow/apex-recoil/blob/main/docs/privacy-policy.md" target="_blank")
          | Privacy Policy
      p
        a(href="https://github.com/metaflow/apex-recoil/blob/main/docs/privacy-policy-de.md" target="_blank")
          | Datenschutzerklärung
      p
        a(href="#cookies")
          | Cookie settings
      p 2021 equanimity_rulez
      p This app is not affiliated with or sponsored by Electronic Arts Inc. or its licensors.
      script.
        window.game_locale = 'ru';