//-
//- Copyright 2021 Mikhail Goncharov
//-
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//-
//-      https://www.apache.org/licenses/LICENSE-2.0
//-
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.

extends layout

block content
  #game
    #control
      h1 Apex Legends Recoil Patterns
      p.description Learn and practice spray/recoil patterns
      p#sensitivity-warning.hidden
        | Active area is too small! #[a(href="https://github.com/metaflow/apex-recoil/blob/main/docs/faq.md#mouse-sensitivity" target="_blank") how to fix] 
      #top-links
        p#show-instructions-btn.action
          | Show instructions
        a(href="https://github.com/metaflow/apex-recoil/blob/main/docs/faq.md" target="_blank")
          | FAQ
      #score
        div#stats-graph-btn.tooltip.btn
          img(src="/outline_insert_chart_white_48dp.png"  alt="show graph")
          .tooltiptext Show historical graph
        div#stats-wrap
          p#score-stats
      #weapon-select.grid
        div.havoc_tc.btn
          img(src="/images/havoc.png", alt="havoc")
          p.name HAVOC
        div.flatline.btn
          img(src="/images/flatline.png", alt="flatline")
          p.name Flatline
        div.r301.btn
          img(src="/images/r301.png", alt="r-301")
          p.name R-301
        div.alternator.btn
            img(src="/images/alternator.png", alt="alternator")
            p.name Alternator
        div.prowler.btn
          img(src="/images/prowler.png", alt="prowler")
          p.name Prowler
        div.r99.btn
          img(src="/images/r99.png", alt="r-99")
          p.name R-99
        div.volt.btn
          img(src="/images/volt.png", alt="volt")
          p.name Volt
        div.devotion_tc.btn
          img(src="/images/devotion.png", alt="devotion")
          p.name Devotion
        div.lstar.btn
          img(src="/images/lstar.png", alt="lstar")
          p.name L-STAR
        div.spitfire.btn
          img(src="/images/spitfire.png", alt="spitfire")
          p.name Spitfire
        div.re45.btn
          img(src="/images/re45.png", alt="re45")
          p.name RE-45
      #mag-select.button-row
        div.mag-0.tooltip
          img(src="/images/magi.png" alt="no magazine")
          span.tooltiptext No magazine
        div.mag-1.tooltip
          img(src="/images/magi.png" alt="magazine level 1")
          span.tooltiptext Level 1
        div.mag-2.tooltip
          img(src="/images/magi.png" alt="magazine level 2")
          span.tooltiptext Level 2
        div.mag-3.tooltip
          img(src="/images/magi.png" alt="magazine level 3")
          span.tooltiptext Level 3
      #settings
          p
            input(type='text' id='sens')
            span.tooltip.underlined
              | Sensitivity
              span.tooltiptext
                | Example: for mouse sensitivity 3 and ADS<br/>
                | multiplier 1.2 set this to 3 * 1.2 = 3.6
          p Mode:
          #mode-selection.button-row
            #mode-fixed-path.btn.tooltip
              div Follow path
              span.tooltiptext click anywhere in the area<br/>hotkey [a]
            #mode-fixed.btn.tooltip
              div Still target
              span.tooltiptext click anywhere in the area<br/>hotkey [s]
            #mode-moving.btn.tooltip
              div Moving target
              span.tooltiptext hotkey [d]
          div.row
            .tooltip
              img(src="/outline_run_circle_white_24dp.png" alt="target control")
              span.tooltiptext
                | Target move speed
            input.slider#target-speed(type='range' min="1" max="600" step="1")
            #target-speed-value.value
          #recoil-mode.button-row
            .center-text Recoil:
            #recoil-weapon.btn.tooltip
              div Weapon
              span.tooltiptext
                | Apply recoil to the weapon and<br/>
                | keep target still (or move smoothly)
            #recoil-target.btn.tooltip
              div Target
              span.tooltiptext
                | Apply recoil to the target.<br/>
                | Close to in-game experience
          .button-row
            .center-text Result style:
            #trace-0.btn
              div Target
            #trace-1.btn
              div Path-dots
            #trace-2.btn
              div Path-lines
          .row
            .tooltip
              img(src="/outline_slow_motion_video_white_24dp.png" alt="speed control").tooltip
              span.tooltiptext
                | Firing speed. Reduce it if you struggle to follow the pattern
            input.slider#speed(type='range' min="10" max="100" step="10")
            #speed-value.value
          #sound-control.row
            #toggle-mute.tooltip
              img(src="/volume_up_white_24dp.svg"  alt="sound is not muted")#unmuted
              img(src="/volume_off_white_24dp.svg" alt="sound is muted")#muted.hidden
              span.tooltiptext(style="width:200px")
                | Sound volume (click to mute)
            input.slider#volume(type='range' min="0" max="100")
            .value
      #controls-bottom
        #copyright
          div.links
            a(href="https://github.com/metaflow/apex-recoil" target="_blank")
              img(src="/GitHub-Mark-Light-32px.png", alt="github")
            a(href="https://www.reddit.com/r/apexlegends/comments/mosk0l/i_have_created_an_app_to_practice_recoils/" target="_blank")
              img(src="/reddit.png", alt="reddit")
            a(href="/ru")
              img(src="/ru.png", alt="russian")
            div.vertical
              a(href="https://github.com/metaflow/apex-recoil/blob/main/docs/privacy-policy.md" target="_blank")
                | Privacy Policy
              a(href="https://github.com/metaflow/apex-recoil/blob/main/docs/privacy-policy-de.md" target="_blank")
                | Datenschutzerklärung
              a(href="#cookies")
                | Cookie settings
          p
            | 2021 by Mikhail equanimity_rulez Goncharov.
          p
            | This app is not affiliated with or sponsored by Electronic Arts Inc. or its licensors. 
            | Game content and materials are trademarks and copyrights of 
            | #[a(href="https://ea.com" target="_blank") Electronic Arts Inc.]              
            | or #[a(href="https://www.respawn.com/" target="_blank") Respawn Entertainment]. 
            | Some images and reference materials come from 
            | #[a(href="https://apexlegends.fandom.com/wiki/" target="_blank") Apex Legends Wiki].
        #version
          p
            | version 13&nbsp;
            a(href="https://github.com/metaflow/apex-recoil/blob/main/docs/release-notes.md" target="_blank")
              | what's new
    #workspace
      #detailed-stats.hidden
        div Note that the Y-scale for the score is logarithmic as it's quite easy to improve from score 40 to 50 but much harder from 90 to 92.
        #plotly_area
        div
          p.action#hide-stats Dismiss graph
      #instructions.hidden
          h2 Instructions
          p #[a(href="/ru") Russian version].
          p Check out an #[a(href="https://www.youtube.com/watch?v=tTPKHa4aXug") overview on YouTube].
          ul
            li #[a(href="https://www.google.com/search?q=turn+off+enhance+pointer+precision" target="_blank") Make sure that "Enhance pointer precision" is off].
            li Set the #[i sensitivity].&nbsp;
              a(href="https://github.com/metaflow/apex-recoil/blob/main/docs/faq.md#controller-support" target="_blank") Setup for controller.
            li Pick a weapon and magazine.
            li Click in the dotted area below and try to offset the recoil.
            li The better you compensate the higher score you get. The maximum is 100.            
          p Hover over options to see hints (if any).
          p.action#dismiss-instructions Dismiss instructions
      #stage
  #mobile-info 
    h1 Apex Legends Recoil Patterns
    p Hi! Thanks for checking out this little app to practice recoil patterns. It's meant to be used on the desktop browser with a mouse or controller. 
      | The screen width of your device must be greater than 900 pixels. 
      | Meanwhile, please check this 
      | #[a(href="https://www.reddit.com/r/apexlegends/comments/mosk0l/i_have_created_an_app_to_practice_recoils/") post on Reddit] 
      | and #[a(href="https://github.com/metaflow/apex-recoil/blob/main/docs/faq.md") FAQ].
    br
    p Cheers!
    img(src="/trail.png", alt="trail")
    #copyright-mobile
      p
        a(href="https://github.com/metaflow/apex-recoil/blob/main/docs/privacy-policy.md" target="_blank")
          | Privacy Policy
      p
        a(href="https://github.com/metaflow/apex-recoil/blob/main/docs/privacy-policy-de.md" target="_blank")
          | Datenschutzerklärung
      p
        a(href="#cookies")
          | Cookie settings
      p 2021 equanimity_rulez
      p This app is not affiliated with or sponsored by Electronic Arts Inc. or its licensors.