//- 
//- Copyright 2021 Google LLC
//-
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//-
//-      https://www.apache.org/licenses/LICENSE-2.0
//-
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.

extends layout

block content
  #game
    #control      
      #score   
        p score
        p#current-score
        p#score-stats
      #weapon-select.grid
        div.r99
          img(src="/images/r99.png", alt="r99")
        div.r301
          img(src="/images/r301.png", alt="r301")
        div.volt
          img(src="/images/volt.png", alt="volt")
        //- div.alternator
        //-   img(src="/images/alternator.png", alt="alternator")
        //- div.devotion
        //-   img(src="/images/devotion.png", alt="devotion")
        div.flatline
          img(src="/images/flatline.png", alt="flatline")
        //- div.havoc
        //-   img(src="/images/havoc.png", alt="havoc")
        //- div.hemlok
        //-   img(src="/images/hemlok.png", alt="hemlok")
        //- div.lstar
        //-   img(src="/images/lstar.png", alt="lstar")
        //- div.prowler
        //-   img(src="/images/prowler.png", alt="prowler")
        //- div.re45
        //-   img(src="/images/re45.png", alt="re45")
        //- div.spitfire
        //-   img(src="/images/spitfire.png", alt="spitfire")
      #mag-select.grid
        div.mag-0
          img(src="/images/magi.png")
        div.mag-1
          img(src="/images/magi.png")
        div.mag-2
          img(src="/images/magi.png")
        div.mag-3
          img(src="/images/magi.png")
      #attachment-select.grid
        div.attachment-0
          img(src="/images/barrel_stocki.png")
        div.attachment-1
          img(src="/images/barrel_stocki.png")
        div.attachment-2
          img(src="/images/barrel_stocki.png")
        div.attachment-3
          img(src="/images/barrel_stocki.png")
      #settings
          p
            input(type='text' id='sens')
            | in-game sens
          p
            input(type='checkbox' id='follow-markers')
            | follow markers
          p
            input(type='checkbox' id='hint')
            | hint
          p
            input(type='checkbox' id='random-trace')
            | random trace
          p
            input.slider#volume(type='range' min="0" max="100")
            | volume
          p
            input(type='checkbox' id='mute')
            | mute
          button#show-all show all
    #stage